Node Red Flow.json
[{"id":"fbee9263.4ccc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"be3caf4.de96c5","type":"debug","z":"fbee9263.4ccc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"e0c1b3c3.b8e64","type":"ui_gauge","z":"fbee9263.4ccc","name":"","group":"657dfd78.e77064","order":0,"width":0,"height":0,"gtype":"gage","title":"Percentage","label":"Kgs","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":120,"wires":[]},{"id":"65b2251c.23771c","type":"ui_gauge","z":"fbee9263.4ccc","name":"","group":"657dfd78.e77064","order":1,"width":0,"height":0,"gtype":"gage","title":"Weight","label":"Kgs","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"1e3dfbda.b20604","type":"function","z":"fbee9263.4ccc","name":"Percentage","func":"global.set('percengtage',msg.payload.percentage)\nmsg.payload=msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["e0c1b3c3.b8e64","be3caf4.de96c5"]]},{"id":"d3ec494f.b03718","type":"ibmiot in","z":"fbee9263.4ccc","authentication":"apiKey","apiKey":"d5bf597f.e84848","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Esp8266","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["1e3dfbda.b20604","7b5d4c5b.622da4","be3caf4.de96c5"]]},{"id":"7b5d4c5b.622da4","type":"function","z":"fbee9263.4ccc","name":"Weight","func":"global.set('weight',msg.payload.weight)\nmsg.payload=msg.payload.weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["65b2251c.23771c","be3caf4.de96c5"]]},{"id":"b582edfe.2c217","type":"http in","z":"fbee9263.4ccc","name":"WasteData","url":"/waste","method":"get","upload":false,"swaggerDoc":"","x":140,"y":380,"wires":[["2698d4dd.f921cc"]]},{"id":"a986d1a7.5c7ca","type":"http response","z":"fbee9263.4ccc","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"2698d4dd.f921cc","type":"function","z":"fbee9263.4ccc","name":"Web url","func":"msg.payload={'percentage':global.get(\"percentage\"),'weight':global.get(\"weight\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["a986d1a7.5c7ca"]]},{"id":"513dbfad.b4415","type":"ui_button","z":"fbee9263.4ccc","name":"","group":"657dfd78.e77064","order":2,"width":0,"height":0,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bin is Opened","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":500,"wires":[["4b58d8aa.298c28","658a2ab9.d829f4"]]},{"id":"56ca3ba7.a29ec4","type":"ui_button","z":"fbee9263.4ccc","name":"","group":"657dfd78.e77064","order":3,"width":0,"height":0,"passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Dustbin is closed","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":600,"wires":[["953ea179.af564","658a2ab9.d829f4"]]},{"id":"4b58d8aa.298c28","type":"debug","z":"fbee9263.4ccc","name":"Open Button Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":500,"wires":[]},{"id":"953ea179.af564","type":"debug","z":"fbee9263.4ccc","name":"Close Button Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":600,"wires":[]},{"id":"658a2ab9.d829f4","type":"ibmiot out","z":"fbee9263.4ccc","authentication":"apiKey","apiKey":"d5bf597f.e84848","outputType":"cmd","deviceId":"Esp8266","deviceType":"1.2.9","eventCommandType":"home","format":"json","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":560,"wires":[]},{"id":"681037cb.711f98","type":"http in","z":"fbee9263.4ccc","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":780,"wires":[["16cba04d.bf394","c59a52c5.d869b"]]},{"id":"128b4698.a2d5b9","type":"http response","z":"fbee9263.4ccc","name":"","statusCode":"","headers":{},"x":710,"y":780,"wires":[]},{"id":"16cba04d.bf394","type":"function","z":"fbee9263.4ccc","name":"JSON Parsing","func":"msg.payloadcommand=msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":780,"wires":[["128b4698.a2d5b9","658a2ab9.d829f4","c59a52c5.d869b"]]},{"id":"c59a52c5.d869b","type":"debug","z":"fbee9263.4ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":660,"wires":[]},{"id":"657dfd78.e77064","type":"ui_group","name":"Default","tab":"c45aa831.7bfc88","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5bf597f.e84848","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c45aa831.7bfc88","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]